<Config>
  <LogLevel>info</LogLevel>
  <EnableSsl>False</EnableSsl>
  <Port>8989</Port>
  <SslPort>9898</SslPort>
  <UrlBase>sonarr</UrlBase>
  <BindAddress>*</BindAddress>
  <!--This API Key Should not be used, ensure that you generate a new one-->
  <ApiKey>1b389c5d4f55401f9cbf197c4e856600</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <LaunchBrowser>True</LaunchBrowser>
  <Branch>main</Branch>
  <SslCertHash></SslCertHash>
</Config>